In [39]:
%matplotlib inline
from tensorflow.keras.utils import plot_model
from tensorflow.keras.models import Model,Sequential
from tensorflow.keras.utils import to_categorical
from tensorflow.keras.layers import Input, Dense, Dropout
from tensorflow.keras.optimizers import SGD
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [40]:
data = pd.read_csv("dataset.csv")
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [41]:
print(data.shape)
train=[]
for i in range(data.shape[0]):
  train.append(list(data.iloc[i]))

(2000, 21)

In [42]:
x=[]
y=[]
for i in train:
  y.append(i[-1])
  x.append(i[:20])
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=29)

In [43]:
x_train = np.array(x_train)
y_train = np.array(y_train)
x_test = np.array(x_test)
y_test = np.array(y_test)

mean = x_train.mean(axis=0)
std = x_train.std(axis=0)
x_train -= mean
x_train /= std
x_test -= mean
x_test /= std


print(x_train)
print(y_train)

[[ 0.3989662   0.98142253  1.06136826 ... -1.79800006 -1.01765584
   0.98387991]
 [-0.97306352  0.98142253 -1.27350366 ...  0.55617351 -1.01765584
   0.98387991]
 [ 0.86918168  0.98142253 -0.78195168 ...  0.55617351 -1.01765584
   0.98387991]
 ...
 [ 1.44388949  0.98142253  0.93848026 ...  0.55617351 -1.01765584
   0.98387991]
 [-0.2348025  -1.01892912 -0.1675117  ...  0.55617351 -1.01765584
   0.98387991]
 [ 0.01279889  0.98142253  1.06136826 ...  0.55617351 -1.01765584
  -1.0163842 ]]
[1. 0. 0. ... 2. 1. 0.]

In [44]:
y_train = to_categorical(y_train, 4)
y_test = to_categorical(y_test, 4)
print(y_test)

[[0. 0. 0. 1.]
 [0. 0. 1. 0.]
 [0. 0. 0. 1.]
 ...
 [0. 1. 0. 0.]
 [0. 1. 0. 0.]
 [0. 0. 1. 0.]]

In [57]:
from tensorflow import keras 
model = Sequential()
model.add(Dense(300, input_dim=x_train.shape[1], activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(200, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(150, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(50, activation='relu'))
### YOU HAVE TO MAKE YOUR CHANGES HERE !!!
model.add(keras.layers.Dense(1))
model.compile(optimizer='adam', loss='mse', metrics=['acc'])

history = model.fit(x_train, y_train,
                    validation_data=(x_test, y_test),
                    batch_size=100)

16/16 [==============================] - 0s 7ms/step - loss: 0.1999 - acc: 0.7422 - val_loss: 0.1906 - val_acc: 0.7500